<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Shoplist</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  </head>
  <body>
  <section class="section">
    <div class="container">
      <h1 class="title">
        Shoplist - the ultimate shopping list application :)
      </h1>
      <p class="subtitle">
        Powered by 😠 <strong>Даша</strong>!
      </p>
      <div id="lists-container" class="columns">
        <script id="list-tmpl" type="x-tmpl-mustache">
          {{#lists}}
            <div class="column">
              <div class="card">
                <div class="card-header">
                  <p class="card-header-title">
                    {{name}}
                  </p>
                </div>

                <div class="card-content">
                  <ul>
                    {{#items}}
                      <p>
                        <label class="checkbox">
                          <input type="checkbox" {{#checked}}checked{{/checked}}>{{name}}</input>
                        </label>
                      </p>
                    {{/items}}
                  </ul>
                </div>
              </div>
            </div>
          {{/lists}}
        </script>
      </div>
    </div>
  </section>
  </body>
</html>